adf/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_GitHub_ListFiles_http",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "OnlyCSVs",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@endsWith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ProcessEachCSV",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "OnlyCSVs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OnlyCSVs').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyFileToADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									},
									"requestMethod": "GET"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							}
						},
						{
							"name": "GetFileMetadata",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "CopyFileToADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"fieldList": [
									"size",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "sp_upsert_dev_csv_scr_config",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetFileMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_upsert_dev_csv_scr_config]",
								"storedProcedureParameters": {
									"CSV_File_Name": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Raw_GitHub_URL": {
										"value": {
											"value": "@item().download_url",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADLS_Path": {
										"value": {
											"value": "@concat('abfss://', pipeline().parameters.adlsContainer, '@', pipeline().parameters.storageAccount, '/', pipeline().parameters.rawBasePath, '/', pipeline().parameters.owner, '/', pipeline().parameters.repo, '/', formatDateTime(utcNow(),'yyyy/MM/dd'), '/', item().name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileSizeBytes": {
										"value": {
											"value": "@activity('GetFileMetadata').output.size",
											"type": "Expression"
										},
										"type": "Int"
									},
									"LastModifiedUTC": {
										"value": {
											"value": "@activity('GetFileMetadata').output.lastModified",
											"type": "Expression"
										},
										"type": "String"
									},
									"IngestedOnUTC": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"owner": {
				"type": "string",
				"defaultValue": "microsoft"
			},
			"repo": {
				"type": "string",
				"defaultValue": "sql-server-samples"
			},
			"path": {
				"type": "string",
				"defaultValue": "samples/databases/adventure-works/oltp-install-script"
			},
			"branch": {
				"type": "string",
				"defaultValue": "master"
			},
			"adlsContainer": {
				"type": "string",
				"defaultValue": "project"
			},
			"storageAccount": {
				"type": "string",
				"defaultValue": "adlsrmadwdev.dfs.core.windows.net"
			},
			"rawBasePath": {
				"type": "string",
				"defaultValue": "raw"
			}
		},
		"annotations": []
	}
}