adf/pipeline/pipeline1_copy1.json
{
	"name": "pipeline1_copy1",
	"properties": {
		"activities": [
			{
				"name": "GetFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GitHub_ListFiles_http",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "OnlyCSVs",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@endsWith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_DownloadCSVs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "OnlyCSVs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OnlyCSVs').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyToADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:00"
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"owner": {
				"type": "string",
				"defaultValue": "microsoft"
			},
			"repo": {
				"type": "string",
				"defaultValue": "sql-server-samples"
			},
			"path": {
				"type": "string",
				"defaultValue": "samples/databases/adventure-works/oltp-install-script"
			},
			"branch": {
				"type": "string",
				"defaultValue": "master"
			},
			"adlsContainer": {
				"type": "string",
				"defaultValue": "project"
			},
			"storageAccount": {
				"type": "string",
				"defaultValue": "https://adlsrmadwdev.blob.core.windows.net"
			},
			"rawBasePath": {
				"type": "string",
				"defaultValue": "raw"
			}
		},
		"annotations": []
	}
}