adf/pipeline/PL_GetGitHubCsvs_To_SQL.json
{
	"name": "PL_GetGitHubCsvs_To_SQL",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[sp_upsert_dev_csv_scr_config]",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				}
			},
			{
				"name": "GetFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "OnlyCSVs",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@endsWith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ProcessEachCSV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "OnlyCSVs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OnlyCSVs').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "sp_upsert_dev_csv_scr_config",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_upsert_dev_csv_scr_config]",
								"storedProcedureParameters": {
									"CSV_File_Name": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Raw_GitHub_URL": {
										"value": {
											"value": "@item().download_url",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"owner": {
				"type": "string",
				"defaultValue": "microsoft"
			},
			"repo": {
				"type": "string",
				"defaultValue": "sql-server-samples"
			},
			"path": {
				"type": "string",
				"defaultValue": "samples/databases/adventure-works/oltp-install-script"
			},
			"branch": {
				"type": "string",
				"defaultValue": "master"
			}
		},
		"annotations": []
	}
}